*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', sans-serif;
    text-decoration:none;
}

    body{
        background-color:#f9fafb;
    }


              .nav{
                background-color:#ffffff;
                box-shadow:0 4px 10px rgba(0,0,0,0.6);
                padding:1rem 1.5rem;
                position:sticky;
                top:0;
                z-index:1000;
              }
              

    .nav-con{
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-wrap:wrap;
        max-width:1200px;
        margin:auto;

    }

    .logo{
        font-size:1.8rem;
        font-weight:bold;
        color:purple;
    }



           .nav-to{
            display:none;
            font-size:1.5rem;
            cursor:pointer;
            color:#333;
           }

            .nav-links{
                list-style:none;
                display:flex;
                gap:1.5rem;
                margin:auto;
            }
      .nav-links li a{
        text-decoration:none;
        color:#333;
        font-weight:500;
        transition:color 0.3s ease;
      }      

      .nav-links li a:hover{
        color:#4f46e5;
      }

            .search{
                position:relative;
                margin:0 1.5;rem;
                display:flex;
                align-items:center;
            }
.search input {
    padding:0.5rem 2.5rem 0.5rem 1rem;
    border-radius:1000px;
    border:1px solid #ccc;
    outline:none;
}

.fa-magnifying-glass{
    position:absolute;
    right:10px;
    color:#777;
}

.icons{
    display:flex;
    align-items:center;
    gap:1rem;

}
      .icons i{
        font-size:1.2rem;
        color:#444;
        cursor:pointer;
      }
    
   .btn-primary{
    background-color:#4f46e5;
    color:white;
    border:none;
    padding:0.5rem 1rem;
    border-radius:1000px;
    font-weight:500;
    cursor:pointer;
    transition:background 0.3s ease;
    display:flex;
    align-items:center;
    gap:0.5rem;
   }   

   .btn-primary:hover{
    background:black;
   }



.hero-sec{
    padding:4rem 2rem;
    background-color:#e0bbe4;
}
.hero-con{
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:1200px;
    margin:auto;
    gap:2rem;
    flex-wrap:wrap;
}

    .hero-txt{
flex:1 1 500;
        
        
    }

    .hero-txt h1{
        
 font-size:2.5rem;
 margin-bottom:1rem;
 color:#111827;           
           
    }

  .hero-txt p{
    font-size:1.1rem;
    color:#4b5563;
    margin-bottom:2rem;
  }      

    
  .hero-btn{
    background-color:purple;
    color:white;
    padding: 0.75rem 1.5rem;
    border-radius:999px;
    text-decoration:none;
    font-weight:500;
    transition:background 0.3s ease;
    padding-bottom:10px;

  }

            .hero-btn:hover{
                background-color:#4338ca;
            }

    .hero-btn i {
        margin-right:0.5rem;
    }     
    
  .hero-img{
    flex:1 1 400;
    text-align:center;
  }  

  .hero-img img{
    max-width:100%;
    border-radius:50%;


  }


.categories-sec{
    padding:4rem 2rem;
    background-color:#ffffff;
    text-align:center;
}
.sec-hed{
    font-size:2rem;
    color:#111827;
    margin-bottom:0.5rem;

}
       .sec-hed p{
        color:#6b7280;
        margin-bottom:2rem;
       }

  .cate-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    gap:2rem;
    max-width:1100px;
    margin:0 auto;
  }     

  .cate-card{
    background-color:#f9fafb;
    padding:2rem 1.5rem;
    border-radius:1rem;
    box-shadow:0 4px 12px rgba(0,0,0,0.5);
    transition:transform 0.3s ease;
  }


        .cate-card:hover{
            transform:translateY(-5px);
        }

   .cate-card i {
    font-size:2rem;
    color:skyblue;
    margin-bottom:1rem;
   } 
   
   
     .cate-card h3{
        margin-bottom:0.5rem;
        color:#111827;
        font-size:1.2rem;
     }


  .cate-card a{
    text-decoration:none;
    color:skyblue;
    font-weight:500;
    transition:color 0.3s ease;
  }  
   .cate-card a:hover{
    color:#3730a3;
   } 

   .shopp{
    padding:4rem 2rem;
     background-color:#f9fafb;
     text-align:center;
   }


         .pro-grid{
          display:grid;
          grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
          gap:2rem;
          max-width:1100px;
          margin:0 auto;
          padding-top:2rem;

         }
         .pro-card{
               background-color:white;
               padding:1rem;
               border-radius:1rem;
               box-shadow: 0 6px 16px rgba(0,0,0,0.5);
               transition:transfrom 0.3s ease, box-shadow 0.3s ease;


         }
     
         
    .pro-card:hover{
      transform:translateY(-5px);
      box-shadow: 0 10px 24px rgba(0,0,0,0.8);
    }     

.pro-card img{
  max-width:100%;
  border-radius:0.5rem;
}

 .pro-card img{
  width:100%;
  height:250px;
  object-fit:cover;

}

.pro-card h3{
  font-size:1.1rem;
  color:#111827;
}

      .p{
        font-weight:600;
        color:purple;
        margin-bottom:0.5rem;
      }
          


          .r{
            color:goldenrod;
            margin-bottom:1rem;
          }

             



    .add-btn{
      background-color:#333;
      color:white;
      padding:0.6rem 1.2rem;
      border:none;
      border-radius:999px;
      cursor:pointer;
      font-weight:500;
      transition:background 0.3s ease;

    }     
    
    
         .add-btn i{
          margin-bottom:0.4rem;
         }


      .add-btn:hover{
        background-color:skyblue;
      }   

    .ds{
      padding:4rem 2rem;
      background-color:#fff7ed;
      text-align:center;
    }  

.ds .sec-hed h2{
  font-size:2.25rem;
  color:#b45309;
  margin-bottom:0.5rem;
}


     .ds .sec-hed p{
      color:#92400e;
      margin-bottom:2rem;

     }
     
     

        .dg{
          display:flex;
          flex-wrap:wrap;
          justify-content:center;
          gap:2rem;
          max-width:1100px;
          margin:auto;

        }
    
     .dc{
  background:white;
  border-radius:1rem;
  box-shadow:0 6px 20px rgba(244,162,66,0.2);
  padding:1.5rem;
  flex: 1 1 300px;
  max-width:3200px;
  text-align:center;
    transition:transfrom 0.3s ease;

     }   



  .dc:hover{
    transform:translateY(-8px);
  }   

    .dc img {
      width:100%;
      border-radius:1rem;
      margin-bottom:1rem;
      width:350px;
      
    }

  .dc h3{
    font-size:1.2rem;
    color:#b45309;
    margin-bottom:0.5rem;
  }  

  .pr{
    margin-bottom:1rem;
    font-weight:700;
  }
      .pr .discount{
        color:#ea580c;
        font-size:1.3rem;
        margin-right: 0.8rem;

      }
     
      
    .pr .original{
      text-decoration:line-through;
      color:#a16207;
      font-weight:1rem;
    }   
    .dealbtn{
      background-color:black;
      color:white;
      border:none;
      padding:0.75rem 1.5rem;
      border-radius:999px;
      font-weight:600;
      cursor:pointer;
      transition: background-color 0.3s ease;
    }

       .dealbtn i{
        margin-right:0.5rem;


       }

        .dealbtn:hover{
          background-color:#b45309;
        }

        





   @media (max-width:850px){
    .nav-links{
        display:flex;
        flex-direction:column;
        background-color:white;
      width:100%;
       position:absolute;
       top:70px;
       left:0;
       box-shadow:0 4px 10px rbga(0,0,0,0.6);
       padding:1rem 2rem;

    }


        .nav-links .active{
                    display:flex;

        }

        .search {

                display:block;
        }

        .nav-to{
            display:block;
        }
   }
